<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnX9xuZsJhGwiViajxnsg0IrhVYv6ckQvQIUVHq2uYJvJ9rrWis9AkSOp26UpFmBp4EZLYoFGWIhkOg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

<div class="container">
    <h1>Quản Lý Sản Phẩm</h1>
    <button th:onclick="|window.location.href='@{/products/create}'|">Thêm sản phẩm</button>
    <div class="card shadow p-3 mb-4 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title">Tìm kiếm sản phẩm</h5>
            <form th:action="@{/products/search}" method="get">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Tên sản phẩm:</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Nhập tên sản phẩm">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="minPrice">Giá bắt đầu:</label>
                        <input type="text" class="form-control" id="minPrice" name="minPrice"
                               placeholder="Nhập giá bắt đầu">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="productType">Loại sản phẩm:</label>
                        <select class="form-control" id="productType" th:field="*{productType}">
                            <option value="">--Chọn--</option>
                            <option th:each="type : ${productType}" th:value="${type.id}" th:text="${type.productTypeName}"></option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary"><i class="fas fa-sync-alt"></i> Xóa tìm kiếm</button>
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Tìm</button>

            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>STT</th>
                <th>Chọn</th>
                <th>Tên Sản Phẩm</th>
                <th>Giá bắt đầu</th>
                <th>Loại sản phẩm</th>
                <th>Tình trạng</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, i : ${productPage}">
                <td th:text="${i.count}"></td>
                <td><input type="checkbox" name="selectedProductIds" th:value="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.productType.productTypeName}"></td>
                <td th:text="${product.getStatus()}"></td>
                <td>
                    <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-sm btn-info"><i class="fas fa-edit"></i> Sửa</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form th:action="@{/products/deleteProductByList}" method="post">
        <button type="submit" class="btn btn-danger" onclick="return confirmDelete();"><i class="fas fa-trash"></i> Xóa</button>
    </form>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${productPage.number == 0 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/products(page=${productPage.number - 1})}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i == productPage.number ? 'active' : ''}"
                th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}">
                <a class="page-link" th:href="@{/products(page=${i})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${productPage.number >= productPage.totalPages - 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/products(page=${productPage.number + 1})}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR6jDiVc/YQ9+u6H2lvWIUXlaKdxndogmIiT9UjuLiotWnVIQyOU2AeqJ5jz9WjJOLcm+jC3wbw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        let message = /*[[${message}]]*/ null;
        if (message) {
            toastr.success(message);
        }
    });

    function confirmDelete() {
        return confirm("Bạn có chắc chắn muốn xóa các sản phẩm đã chọn?");
    }
</script>
</body>
</html>