<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Song List</title>
</head>
<body>
<h1>Danh sách bài hát</h1>
<table border="1">
    <tr>
        <th>Tên bài hát</th>
        <th>Nghệ sĩ</th>
        <th>Thể loại</th>
        <th>Phát</th>
    </tr>
    <tr th:each="song : ${songs}">
        <td th:text="${song.name}"></td>
        <td th:text="${song.artist}"></td>
        <td th:text="${song.genre}"></td>
        <td>
            <audio controls>
                <source th:src="@{|file:///${song.filePath}|}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </td>
    </tr>
</table>
<a th:href="@{/upload}">Upload bài hát mới</a>
</body>
</html>
